@font-face{
  font-family: "Allura";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./allura-latin-400.woff2") format("woff2");
}
@font-face{
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400 500;
  font-display: swap;
  src: url("./cabin-latin-400-500.woff2") format("woff2");
}
@font-face{
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./cormorant-garamond-latin-400.woff2") format("woff2");
}
@font-face{
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("./crimson-text-latin-italic-400.woff2") format("woff2");
}
